.navWrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
    background: linear-gradient(90deg,
            #ffffff 0%,
            #fcfcfd 35%,
            #f5f7ff 70%,
            #e8eeff 100%);
    display: flex;
    box-shadow: 2px 0px 5px 1px rgba(0, 0, 0, 0.3);

}


.sraf {
    position: absolute;
    left: 16rem;
}

.logoWrapper {
    position: relative;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;



}

.logoText {
    text-transform: uppercase;
    color: var(--text);
    font-weight: 700;
    font-size: 13px;
}

.flagImg {}